body {
    font-family: Arial, sans-serif;
    background-color: #72b8ff;
  }

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: white;
    font-size: 42px;
}

h3 {
    font-family: Impact;
    font-style: italic;
    color: white;
    font-size: 20px;
}

form {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}